<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ina Clothes-Contactanos</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../img/Icono.jpg">
    
</head>
<body>
    <!-- HEADER -->
    <header class="header"> 
        <div> 
             <h1>INA CLOTHES</h1>
       </div> 
    </header>
   
    <!--NAVBAR-->
    <nav class="navbar">
<a href="../../index.html">Inicio</a>
<a href="Productos.html">Productos</a>
<a href="Envíos.html">Envíos</a>
<a href="Ubicación.html">Ubicación</a>
</nav>

<main class="contactanosmain">

    <div class="divcontactanos">
    <h1>Contactanos</h1>

    <form action="">
    <fieldset>
    <legend>Enviar Mensaje</legend>
    <label for="nombre">Nombre</label>
    <input type="text" name="name" id="apellido">
    <label for="apellido">Apellido</label>
    <input type="text" name="Iname" id="apellido">
    <label for="motivo">Motivo</label>
    <input type="text"name="motivo" id="motivo">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Enviar">
</fieldset>
</form>

</div>

</main>


</body>
</html>