<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ina Clothes-Envíos</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../img/Icono.jpg">
</head>
<body class="bodyenvios">
  <!-- HEADER -->
  <header class="header"> 
    <div> 
         <h1>INA CLOTHES</h1>
   </div> 
</header>

<!--NAVBAR-->
<nav class="navbar">
<a href="../../index.html">Inicio</a>
<a href="Productos.html">Productos</a>
<a href="Envíos.html">Envíos</a>
<a href="Ubicación.html">Ubicación</a>
</nav>
<!--MAIN-->
 <main class="enviosmain"> 
  <div class="enviosdiv">
  <h1 class="title">Envíos</h1>
   <p class="ppp">Hacemos envíos a todo el país (Argentina) sin costo</p>
   <p class="pp">Contactarse mediante el boton "Contactanos" en el inicio</p>
  </div> 
 </main>
</body>
</html>