<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ina Clothes-Productos</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../img/Icono.jpg">
</head>
<body>
   <!-- HEADER -->
   <header class="header"> 
    <div> 
         <h1>INA CLOTHES</h1>
   </div> 
</header>

<!--NAVBAR-->
<nav class="navbar">
<a href="../../index.html">Inicio</a>
<a href="Productos.html">Productos</a>
<a href="Envíos.html">Envíos</a>
<a href="Ubicación.html">Ubicación</a>
</nav>


<main class="mainproductos">
    <div class="imagen">
    <a href="" class="fotosmain"><img src="../img/zapatos rosas.jpg" alt="No se pudo cargar la imagen" class="imagen"><h2 class="tituloimagen">Zapatos Rosas</h2><p>$25.000</p></a>
    
    <a href="" class="fotosmain"><img src="../img/celeste.jpg" alt=""><h2 class="tituloimagen">Conjunto celeste</h2><p>$15.000</p></a>
    
    <a href="" class="fotosmain"><img src="../img/conjunto naranja y blanco.jpg" alt="" class="imagen"><h2 class="tituloimagen">Conjunto Naranja</h2><p>$50.000</p></a>
    
    <a href="" class="fotosmain"><img src="../img/conjunto rosa 2.jpg" alt="" class="imagen"><h2 class="tituloimagen">Conjunto Rosa</h2><p>$20.000</p></a>
    
    <a href="" class="fotosmain"><img src="../img/conjunto verde.jpg" alt="" class="imagen"><h2 class="tituloimagen">Conjunto Verde</h2><p>$23.000</p></a>
    
    <a href="" class="fotosmain"><img src="../img/azul.jpg" alt="" class="imagen"><h2 class="tituloimagen">Conjunto Azul</h2><p>$32.000</p></a>

    <a href="" class="fotosmain"><img src="../img/cartera lana.jpg" alt=""><h2>Cartera Lana Azul</h2><p>$55.000</p></a>

    <a href="" class="fotosmain"><img src="../img/rojo.jpg" alt=""><h2>Conjunto Rojo</h2><p>$35.000</p></a>

    <a href="" class="fotosmain"><img src="../img/zapatos.jpg" alt=""><h2>Zapatos Verdes</h2><p>$24.000</p></a>

    <a href="" class="fotosmain"><img src="../img/conjunto rosa.jpg" alt=""><h2>Conjunto Rosa 2</h2><p>$34.000</p></a>

    <a href="" class="fotosmain"><img src="../img/combinacion.jpg" alt=""><h2>Conjunto Combinado</h2><p>$38.000</p></a>

    <a href="" class="fotosmain"><img src="../img/Amarillo y blanco.jpg" alt=""><h2>Conjunto combinado 2</h2><p>$50.000</p></a>
</div>
</main>




</body>



</html>