<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ina Clothes-Ubicación</title>
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="icon" href="../img/Icono.jpg">
</head>
<body>
    <!-- HEADER -->
    <header class="header"> 
        <div> 
             <h1>INA CLOTHES</h1>
       </div> 
    </header>

    <!--NAVBAR-->
    <nav class="navbar">
<a href="../../index.html">Inicio</a>
<a href="Productos.html">Productos</a>
<a href="Envíos.html">Envíos</a>
<a href="Ubicación.html">Ubicación</a>
</nav>
<main class="ubicacionmain">
    <div class="divubicacion">
<h1>Nuestra Ubicación</h1>
<iframe class="googlemaps" src="https://www.google.com.ar/maps/place/Centro+Loyola/@-34.5584484,-58.7326395,17z/data=!3m1!4b1!4m6!3m5!1s0x95bcbd82472a6789:0xa48e7ce7eb0a62b5!8m2!3d-34.5584484!4d-58.7300592!16s%2Fg%2F122sg9yn?entry=ttu" frameborder="0" height="400" width="750" ></iframe>
<a href="https://www.google.com.ar/maps/place/Centro+Loyola/@-34.5587611,-58.7330045,17z/data=!4m6!3m5!1s0x95bcbd82472a6789:0xa48e7ce7eb0a62b5!8m2!3d-34.5584484!4d-58.7300592!16s%2Fg%2F122sg9yn?entry=ttu" class="botongoogle" target="_blank">Abrir en Google Maps</a>
<p>Dirección: Av. Dr. Ricardo Balbín 3226, B1663 San Miguel, Provincia de Buenos Aires</p>
</div>
</main>

</body>

</html>